<h1>New Movie</h1>

<form action="/create_movie">
  <div>
    <label for="director_id">director_id</label><br />
    <select name="director_id">
      <% Director.all.each do |director| %>
      <option value="<%= director.id %>"><%= director.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="title">title</label><br />
    <input id="title" name="title" type="text" />
  </div>
  <div>
    <label for="image_url">image_url</label><br />
    <input id="image_url" name="image_url" type="text" />
  </div>
  <div>
    <label for="description">description</label><br />
    <input id="description" name="description" type="text" />
  </div>
  <div>
    <label for="date">date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

