<h1>New Role</h1>

<form action="/create_role">
  <div>
    <label for="actor_id">actor_id</label><br />
    <select name="actor_id">
      <% Actor.all.each do |actor| %>
        <option value="<%= actor.id %>"><%= actor.name %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="movie_id">movie_id</label><br />
    <select name="movie_id">
    <% Movie.all.each do |movie| %>
      <option value="<%= movie.id %>"><%= movie.title %></option>
    <% end %> 
    </select>
    
  </div>
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

